---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Sobre from '../components/Sobre.astro';
import Menu from '../components/Menu.astro';
import Futbol from '../components/Futbol.astro';
import Ambiente from '../components/Ambiente.astro';
import Ubicacion from '../components/Ubicacion.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main id="contenido">
    <Hero />
    <Sobre />
    <Menu />
    <Futbol />
    <Ambiente />
    <Ubicacion />
    <CTA />
  </main>
  <Footer />
</Layout>
